:root {
    --black: #000;
    --white: #fff;
    --lesser-white: #d6d6d6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.show{display: block;}
.hide { display: none;}

header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    color: var(--white);
    background: var(--black);
    padding: 50px;
}

#hero {
    background-color: var(--black);
    height: 70vh;
    color: var(--white);
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
}

.hero-details-container {
    padding: 33px 42px 37px ;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* background: ; */
}

.rotate-design {
    position: absolute;
    transform: rotate(-12deg);
    background: rgba(95, 95, 95, 0.36);
    width: 180%;
    height: 100%;
    top: 40vh;
    left: 0;
}

.dev-pics {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 250px;
}

.hero-text-container,
.hero-socials-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-socials-container {
    gap: 30px
}

section {
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
    padding: 75px 60px 100px;
}

.about-me,
.skills-header {
    display: block;
    padding: 15px 30px;
    margin: 0 auto 30px;
    border: 8px solid var(--black);
    color: #000;
    width: fit-content;
    font-size: 14px;
    font-weight: 700;
}

#about p {
    text-align: left;
    margin-top: 10px;
}

.skills-header {
    padding: 15px 40px;
    margin-bottom: 70px;
}

.skill-logo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    margin: 50px 0;
}

.skill-logo-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.skill-logo-container img {
    height: 80px;
}

#projects {
    background: rgba(29, 29, 29, 1);
    color: var(--lesser-white);
}

#projects > span {
    border-color: var(--lesser-white);
    color: var(--lesser-white);
}

.project-container {
    width: 100%;
    border: 1px solid var(--lesser-white);
}

.project-container,
.project-info,
.project-container img {
    border-radius: 10px;
}

.project-container img {
    width: 100%;
}

.project-tools-container {
    display: flex;
    gap: 30px;
}
.project-tools-container img { width: 20px;}

.project-links {
    display: flex;
    gap: 20px;
    align-self: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.all-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px
}

.project-links div {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    height: 50px;
    border-right: 2px solid #d6d6d6;
    border-left: 2px solid #d6d6d6;
    border-radius: 20px;
    padding: 5px 10px ;
}

.project-links div:hover {transform: scale(0.9);}

.project-links img {
    width: 20px;
}

.project-links p {font-size: 14px;}

.project-info {
    background-color: var(--black);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

#contact { 
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#contact img {align-self: center;}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-form input,
.contact-form textarea {
    background: transparent;
    border: none;
    border-left: 5px solid var(--black);
    border-bottom: 5px solid var(--black);
    padding: 10px 8px;
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 700;
}

.contact-form input:focus,
.contact-form textarea:focus {outline: 0;}

.contact-form textarea { height: 100px;}

.contact-form button {
    width: fit-content;
    align-self: center;
    padding: 10px 30px;
    background: transparent;
    border: none;
    border-left: 5px solid var(--black);
    border-right: 5px solid var(--black);
    font-weight: 700;
}

footer {
    color: #d6d6d6;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    text-align: center;
}

.footer-socials-container {
    display: flex;
    gap: 20px;
}
