html {
  scroll-behavior: smooth;
}

:root {
    --black: #000;
    --white: #fff;
    --lesser-white: #d6d6d6;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/***  HEADER  ***/

header {background: var(--black);}

.navbar {
    padding: 20px 42px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    color: var(--white);
}

.nav-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.dropdown-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    text-align: center;
    height: 0;
}

.open {
    height: fit-content;
}

.dropdown-menu li {
    padding: 5px;
    font-weight: 700;
}

.dropdown-menu li:hover {
    background: var(--lesser-white);
    color: var(--black);
    border-radius: 6px;
}

/***  HERO  ***/

#hero {
    background-color: var(--black);
    height: 70vh;
    color: var(--white);
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
}

.hero-details-container {
    padding: 33px 42px 37px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.rotate-design {
    z-index: 0;
    position: absolute;
    transform: rotate(-12deg);
    background: rgba(95, 95, 95, 0.36);
    width: 180%;
    height: 100%;
    top: 60%;
    left: 0;
}

.dev-pics {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    max-height: 100%;
    max-width: 200px;
    align-self: end;
}

.hero-text-container,
.hero-socials-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.hero-socials-container {
    gap: 30px
}

.hero-socials-container i {
    font-size: 26px;
}

section {
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
    padding: 75px 60px 100px;
    overflow: auto;
}

.about-me,
.skills-header {
    display: block;
    padding: 15px 30px;
    margin: 0 auto 30px;
    border: 8px solid var(--black);
    color: #000;
    width: fit-content;
    font-size: 14px;
    font-weight: 700;
}

/***  ABOUT  ***/

#about {
    display: flex;
    flex-direction: column;
}

#about p {
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    line-height: 25px;
}

#about h3 {
    margin: 50px 0 30px;
    text-align: center;
}
#about label {
    justify-content: center;
    display: flex;
    gap: 15px
}

.download-btn {
    margin: 30px 0 0;
}

.download-message-container {
    align-self: center;
    display: none;
}

/***  SKILLS  ***/

.skills-header {
    padding: 15px 40px;
    margin-bottom: 70px;
}

.skill-logo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    margin: 50px 0;
    font-weight: 700;
}

.skill-logo-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.skill-logo-container img {
    height: 80px;
}

/***  PROJECTS  ***/

#projects {
    background: rgba(29, 29, 29, 1);
    color: var(--lesser-white);
}

#projects > span {
    border-color: var(--lesser-white);
    color: var(--lesser-white);
}

.project-container {
    width: 100%;
    border: 1px solid var(--lesser-white);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container,
.project-info,
.project-container > img {
    border-radius: 10px;
}

.project-container img {
    width: 100%;
}

.project-tools-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.project-tools-container img { width: 20px; height: 30px;}

.project-links {
    display: flex;
    gap: 20px;
    align-self: center;
}

a {
    color: inherit;
}

.all-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px
}

.project-links div {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    height: 50px;
    border-right: 2px solid #d6d6d6;
    border-left: 2px solid #d6d6d6;
    border-radius: 20px;
    padding: 5px 10px ;
}

.project-links div:hover {
    transform: scale(0.9);
    box-shadow: inset 0 0 5px var(--white);
}

.project-links img {
    width: 20px;
}

.project-links p {font-size: 14px;}


.project-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

/***  CONTACT  ***/

#contact { 
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

#contact img {align-self: center;}

#my-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#my-form input,
#my-form textarea {
    background: transparent;
    border: none;
    border-left: 5px solid var(--black);
    border-bottom: 5px solid var(--black);
    padding: 10px 8px;
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 700;
}

#my-form input:focus,
#my-form textarea:focus {
    outline: 0;
    color: var(--black);
}

#my-form textarea { height: 100px;}

#my-form button,
.download-btn {
    width: fit-content;
    align-self: center;
    padding: 10px 30px;
    background: transparent;
    border: none;
    border-left: 5px solid var(--black);
    border-right: 5px solid var(--black);
    font-weight: 700;
    cursor: pointer;
}

#my-form button:hover,
.download-btn:hover {
    transform: scale(0.95);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.message-container {
    display: none;
}

.success-message {
    font-weight: bold;
    height: fit-content;
    color: green;
    align-self: center;
}

#line {
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background-color: green;
    animation: reduce-length 5s linear forwards;
}

/***  FOOTER  ***/

footer {
    color: #d6d6d6;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    text-align: center;
}

.footer-socials-container {
    display: flex;
    gap: 20px;
}

.footer-socials-container i {
    font-size: 20px;
    padding: 5px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px 0px var(--whites);
    border-radius: 5px;
    color: var(--black);
}

.footer-socials-container i:hover,
.hero-socials-container i:hover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(0.95)
}

/***  KEYFRAMES  ***/


@keyframes reduce-length {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

/***  MEDIA QUERIES  ***/

@media screen and (min-width: 400px) and (max-width: 835px) {
    /* .dev-pics {
        width: 180px;
    } */
}

@media (min-width: 750px) {
    #menu {
        display: none;
    }

    .navbar {
        flex-direction: row ;
        justify-content: space-between;
        padding: 40px 50px;
    }

    .dropdown-menu {
        flex-direction: row;
        height: fit-content;
    }

    section {
        padding: 75px 20vw 100px;
    }

    #hero {
        justify-content: space-between;
        padding: 0 10vw;
        align-items: unset;
        background: linear-gradient(120deg, rgba(196,196,196,1) 50%, rgba(0,0,0,1) 50%);;
        color: var(--black)
    }

    #hero h1 {
        font-size:35px;
        background: #C4C4C4;
        width: fit-content;
    }

    #hero h4 {font-size:25px}
    #hero p {font-size:20px}

    .hero-socials-container i {
        padding: 5px;
        background: #C4C4C4;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .hero-details-container {
        flex-direction: column;
        align-items: unset;
        gap: 100px;
        justify-content: center;
    }

    .rotate-design {
        display: none;
    }
    
    .hero-socials-container { flex-direction: row; }

    .hero-text-container {
        gap: 10px;
    }

    .dev-pics {
        position: unset;
        width: 30%;
        max-height: 90%;
        max-width: 200px;
        z-index: 1;
    }

    #contact {
        padding-left: 30%;
        padding-right: 30%;
    }

    #about p {
        font-size: 20px;
    }
}
